<div data-role="preview" style="width:128px" data-src="{{src}}">
  {{#if isVideo}}
  <video width="128" autoplay loop="true">
    <source src="{{src}}">
  </video>
  {{else}}
  <img src="{{src}}" style="max-width:128px;max-height:128px;">
  {{/if}}
</div>