<div class="flex1 clexcol">
  <div class="flex1 animation-list">
    {{#each animations as |animation|}}
      {{> "modules/sprite-animations/templates/animationPlayer/animationRow.hbs" animation}}
    {{/each}}
  </div>
</div>