<section
  class="tab {{tab.cssClass}} flex1 flexcol"
  data-group="primary"
  data-tab="animations""
>
  {{> "modules/sprite-animations/templates/animationConfig/controls.hbs"}}
  {{> "modules/sprite-animations/templates/animationConfig/config.hbs"}}
</section>