<div class="flex1 flexcol animation-list">
    {{#each animations as |animation|}}
      {{> "modules/sprite-animations/templates/animationConfig/animationRow.hbs" animation isToken=../isToken}}
    {{/each}}
</div>