<div class="flexrow">
  <div class="flex1"></div>
  <div class="flex0">
    <button
      data-action="addAnimation"
      title="{{localize 'SPRITE-ANIMATIONS.CONFIG.ADD'}}"
    >
      <i class="fa-solid fa-plus"></i>
    </button>
  </div>
</div>